@charset "UTF-8";
/* reset */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
address,
ul,
ol,
li,
dl,
dt,
dd,
img,
form,
table,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: none;
  font-style: normal;
  font-weight: normal;
  font-size: 100%;
  text-align: left;
  list-style-type: none;
  border-collapse: collapse;
}

textarea {
  font-size: 100%;
  vertical-align: middle;
}
img {
  border-style: none;
  display: block;
}
hr {
  display: none;
}
em {
  font-style: normal;
}
input {
  line-height: auto;
  vertical-align: middle;
}
strong.more {
  color: #c30;
}
a {
  text-decoration: none;
}

html {
}

body {
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ",
    Meiryo, "ＭＳ Ｐゴシック", sans-serif;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

/* - TOP */
body {
  background-image: url(../images/triangle-mosaic.webp);
  color: rgba(0, 0, 0, 0.87);
}
a {
  color: rgba(0, 0, 0, 0.87);
}
a:hover {
  color: #9d9a9a;
}
i {
  margin-left: 0.5rem;
  display: inline-block;
}
strong,
.strong {
  font-weight: bold;
}
.img {
  max-width: 100%;
}

.delay1000 {
  transition-delay: 1000ms;
}
.delay500 {
  transition-delay: 500ms;
}
.to-down {
  transform: translate(0, -3rem);
  opacity: 0;
}
.to-up {
  transform: translate(0, 3rem);
  opacity: 0;
}
.trans {
  transition-property: all;
  transition-duration: 1000ms;
  transition-timing-function: ease;
}
.trans.show {
  transform: translate(0, 0);
  opacity: 1;
}

/* - Main */
.sec {
  padding-top: 7.5rem;
  padding-bottom: 5rem;
}

#kv {
  position: relative;
  height: 100vh;
  background-image: url(../images/top-img.jpg);
}
#kv-img {
  position: absolute;
  width: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
@media screen and (max-width: 768px) {
  #kv-img {
    width: 100%;
  }
}
#kv-img img {
  width: 100%;
}
#kv-txt {
  max-width: 960px;
  padding: 2.5rem;
  margin: auto;
}
@media screen and (max-width: 768px) {
  #kv-txt {
    padding: 2.5rem 0;
    width: 90%;
  }
}
#kv-txt p {
  margin-top: 2rem;
  font-size: 18px;
  font-weight: 700;
  line-height: 2.5rem;
  color: rgba(94, 91, 91, 0.87);
}
#kv-txt p strong {
  display: inline-block;
  background: linear-gradient(45deg, #fa8bff 16%, #2bd2ff 57%, #2bff88 90%);
  background: -webkit-linear-gradient(
    45deg,
    #fa8bff 16%,
    #2bd2ff 57%,
    #2bff88 90%
  );
  background-size: 300% auto;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradientEffect 2.5s infinite alternate;
  text-shadow: none;
}

.inner {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}
@media screen and (max-width: 768px) {
  .inner {
    padding-left: 0;
    padding-right: 0;
  }
}
.section-ttl {
  padding: 1.5rem 1rem;
  margin: auto auto 3.5rem;
  font-size: 23px;
  display: inline-block;
  font-weight: bold;
  background: linear-gradient(45deg, #fa8bff 16%, #2bd2ff 57%, #2bff88 90%);
  background: -webkit-linear-gradient(
    45deg,
    #fa8bff 16%,
    #2bd2ff 57%,
    #2bff88 90%
  );
  background-size: 300% auto;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradientEffect 2.5s infinite alternate;
}

.section-ttl::before {
  content: "";
  display: block;
  width: 65px;
  height: 2px;
  background-color: #aa69ff;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.ta-center {
  text-align: center;
}

/* - Main   My Portfolio */
#myPortfolio.sec {
  padding-bottom: 100px;
}

.myPortfolio-list_item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5rem 0;
}
.myPortfolio-list_img {
  width: 50%;
}
.myPortfolio-list_txt {
  display: block;
  width: 45%;
  background-color: rgb(243, 243, 243);
  border-radius: 30px;
  padding: 2.5rem;
  transition-delay: 500ms;
}

@media screen and (max-width: 768px) {
  .myPortfolio-list_item {
    display: block;
    margin-top: 0;
    margin-bottom: 6rem;
  }

  .myPortfolio-list_item:last-child {
    margin-bottom: 5rem;
  }

  .myPortfolio-list_img {
    width: 90%;
    margin: auto;
    padding-bottom: 2.5rem;
  }

  .myPortfolio-list_txt {
    width: 85%;
    margin: auto;
    padding: 2rem;
  }
}

.catch {
  font-size: 18px;
  font-weight: 700;
  color: rgba(94, 91, 91, 0.87);
  line-height: 2.5rem;
}

.excerpt {
  margin-top: 12px;
  color: rgba(0, 0, 0, 0.54);
}

.myPortfolio-list .myPortfolio-list_item:nth-child(2) .myPortfolio-list_txt,
.myPortfolio-list .myPortfolio-list_item:last-child .myPortfolio-list_txt {
  order: 1;
}
.myPortfolio-list .myPortfolio-list_item:nth-child(2) .myPortfolio-list_img,
.myPortfolio-list .myPortfolio-list_item:last-child .myPortfolio-list_img {
  order: 2;
}

/* - Main   My Vision */
#myVision {
  background-image: linear-gradient(
    to top,
    #fdcbf1 0%,
    #fdcbf1 1%,
    #e6dee9 100%
  );
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.ov-h2 {
  color: #4d4d4d;
  font-size: 18px;
  font-weight: 700;
  font-weight: 400;
  margin-top: 2rem;
  margin-bottom: 5.5rem;
  letter-spacing: 0.2em;
}

@media screen and (max-width: 768px) {
  .ov-h2 {
    padding: 0 0.5rem;
  }
}
.ov-list_item {
  width: 80%;
  max-width: 800px;
  margin: auto;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .ov-list_item {
    width: 85%;
  }
}
.ov-list_item .main {
  font-size: 18px;
  font-weight: 700;
  color: hsl(298, 100%, 71%);
  letter-spacing: 0.1em;
  margin-bottom: 1rem;
  display: inline-block;
  position: relative;
}
.ov-list_item .main::before {
  content: "";
  display: inline-block;
  width: 3px;
  height: 100%;
  background-color: hsl(298, 100%, 71%);
  position: absolute;
  left: -10px;
}
.ov-list_item .sub {
  font-size: 12px;
  line-height: 1.3rem;
  font-weight: 500;
  color: rgba(17, 17, 17, 0.54);
  line-height: 1.5rem;
  display: inline-block;
  margin-bottom: 5rem;
}
@media screen and (max-width: 768px) {
  .ov-list {
    display: block;
  }
  .ov-list_item {
    padding: 0;
    border-right: none;
  }
  .ov-list_item .sub {
    font-size: 1rem;
  }
}

/* - Main   Contact Me */
#contactMe.sec {
  margin-bottom: 8rem;
}

.contactMe_catch p {
  color: #585656;
  text-align: center;
  font-size: 18px;
  line-height: 2rem;
  margin: 0 auto 3.5rem;
  text-align: center;
  font-weight: bold;
}

/* - Footer */
.footer {
  padding-top: 3.5rem;
  padding-bottom: 2rem;
  background-image: linear-gradient(
    to top,
    #fdcbf1 0%,
    #fdcbf1 1%,
    #e6dee9 100%
  );
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.footer-logo {
  width: 30%;
}

.footer-logo img {
  max-width: 100%;
  width: 100%;
  height: auto;
}

.footer-inner {
  padding: 0 2.5rem;
  display: flex;
  justify-content: space-between;
}
.fnav {
  display: flex;
  justify-content: flex-end;
}

.fnav_item {
  margin-right: 2.5rem;
}

.fnav_item:last-child {
  margin-right: 0;
}

.fnav_link {
  color: rgba(255, 255, 255, 0.87);
  text-shadow: 0 0 10px rgb(0 0 0 / 54%);
  display: block;
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  .footer-logo {
    width: 17%;
  }

  .fnav_link {
    font-size: 10px;
  }
  .footer-inner {
    padding-left: 0;
    padding-right: 1rem;
  }

  .fnav_item {
    margin-right: 1.5rem;
  }

  .fnav_item:last-child {
    margin-right: 0;
  }
}
